{% extends "base.html" %}

{% block content %}
    <h1>Dettaglio Atleta</h1>
    <p><strong>Nome:</strong> {{ athlete_detail.first_name }}</p>
    <p><strong>Cognome:</strong> {{ athlete_detail.last_name }}</p>
    <p><strong>Data di Nascita:</strong> {{ athlete_detail.date_of_birth }}</p>
    <p><strong>Luogo di Nascita:</strong> {{ athlete_detail.place_of_birth }}</p>
    <p><strong>Codice Fiscale:</strong> {{ athlete_detail.fiscal_code }}</p>
    <p><strong>Categoria:</strong> {{ athlete_detail.category.name }}</p>
    <p><strong>Trainer:</strong> {{ athlete_detail.trainer }}</p>

    <a href="{% url 'athlete_list' %}">Torna alla lista</a>
{% endblock %}
