{% extends "base.html" %}

{% block content %}
    <h1>Lista Atleti</h1>
    <a href="{% url 'athlete_create' %}">Aggiungi un nuovo atleta</a>
    <ul>
        {% for athlete in athletes_list %}
            <li>
                <a href="{% url 'athlete_detail' athlete.pk %}">
                    {{ athlete.first_name }} {{ athlete.last_name }}
                </a>
                (<a href="{% url 'athlete_update' athlete.pk %}">Modifica</a> |
                <a href="{% url 'athlete_delete' athlete.pk %}">Elimina</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}
