{% extends "base.html" %}

{% block content %}
    <h1>Lista Medici Sportivi</h1>
    <a href="{% url 'sport_doctor_create' %}">Aggiungi un nuovo medico sportivo</a>
    <ul>
        {% for sport_doctor in sport_doctor_list %}
            <li>
                <a href="{% url 'sport_doctor_detail' sport_doctor.pk %}">
                    {{ sport_doctor.first_name }} {{ sport_doctor.last_name }} ({{ sport_doctor.vat_number }})
                </a>
                (<a href="{% url 'sport_doctor_update' sport_doctor.pk %}">Modifica</a> |
                <a href="{% url 'sport_doctor_delete' sport_doctor.pk %}">Elimina</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}