{% extends "base.html" %}

{% block content %}
    <h1>Lista Tecnici</h1>
    <a href="{% url 'trainer_create' %}">Aggiungi un nuovo tecnico</a>
    <ul>
        {% for trainer in trainers_list %}
            <li>
                <a href="{% url 'trainer_detail' trainer.pk %}">
                    {{ trainer.first_name }} {{ trainer.last_name }}
                </a>
                (<a href="{% url 'trainer_update' trainer.pk %}">Modifica</a> |
                <a href="{% url 'trainer_delete' trainer.pk %}">Elimina</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}
