{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logo.jpg' %}" alt="ASD-Logo" width="100" height="auto" class="d-inline-block align-text-top">
    </a>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!-- Temporary -->
        <!-- Dropdown Athletes Handler -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="athletes-handler"
             role="button" data-bs-toggle="dropdown" aria-expanded="false"
          > Gestione Atleti
          </a>
          <ul class="dropdown-menu" aria-labelledby="athletes-handler">
            <li><a class="dropdown-item" href="{% url 'athletes_list' %}">Elenco Atleti</a></li>
            <li><a class="dropdown-item" href="{% url 'athlete_create' %}">Inserisci Nuovo Atleta</a></li>
          </ul>
        </li>

        <!-- Temporary -->
        <!-- Dropdown Trainers Handler -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="trainers-handler"
             role="button" data-bs-toggle="dropdown" aria-expanded="false"
          > Gestione Tecnici
          </a>
          <ul class="dropdown-menu" aria-labelledby="trainers-handler">
            <li><a class="dropdown-item" href="{% url 'trainers_list' %}">Elenco Tecnici</a></li>
            <li><a class="dropdown-item" href="{% url 'trainer_create' %}">Inserisci Nuovo Tecnico</a></li>
          </ul>
        </li>

         <!-- Temporary -->
        <!-- Dropdown Doctors Handler -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="doctors-handler"
             role="button" data-bs-toggle="dropdown" aria-expanded="false"
          > Gestione Medici
          </a>
          <ul class="dropdown-menu" aria-labelledby="doctors-handler">
            <li><a class="dropdown-item" href="#">Elenco Medici</a></li>
            <li><a class="dropdown-item" href="#">Inserisci Nuovo Medico</a></li>
          </ul>
        </li>

         <!-- Temporary -->
        <!-- Dropdown Documentation -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="documentation-handler"
             role="button" data-bs-toggle="dropdown" aria-expanded="false"
          > Documentazione
          </a>
          <ul class="dropdown-menu" aria-labelledby="documentation-handler">
            <li><a class="dropdown-item" href="#">Elenco Certificati Medici</a></li>
            <li><a class="dropdown-item" href="#">Inserisci Nuovo Certificato Medico</a></li>
          </ul>
        </li>


        <!-- Dropdown Authentication -->
        <li class="nav-item dropdown">
          <a
                  class="nav-link dropdown-toggle" href="#"
                  id="authentication-dropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false"
          >
            {% if user.is_authenticated %}
              Esci
            {% else %}
              Accedi
            {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="authentication-dropdown">
              <li><a class="dropdown-item" href="#">Esci</a></li>
              <li><a
                      class="dropdown-item"
                      href="https://aleattene.github.io/pcto-deffenu-informatica-frontend/"
                      target="_blank"
              >Accedi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Registrati</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="admin/">Admin Area</a></li>

          </ul>
        </li>

        <!-- Temporary -->
        <!--
        <li class="nav-item dropdown me-2">
          <a class="nav-link dropdown-toggle active" href="#" id="sportwig" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sportwig
          </a>
          <ul class="dropdown-menu" aria-labelledby="sportwig">
            <li><a class="dropdown-item" href="{% url 'products:products-list' %}">Lista Servizi</a></li>
            <li><a class="dropdown-item" href="{% url 'products-api-list' %}">API - Lista Servizi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#}">Logout</a></li>
          </ul>
        </li>
        -->
        <!-- Dropdown Gestione Operatori -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="gestioneOperatoriDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestione Operatori
          </a>
          <ul class="dropdown-menu" aria-labelledby="gestioneOperatoriDropdown">
            <li><a class="dropdown-item" href="#">Gestione Servizi</a></li>
            <li><a class="dropdown-item" href="#">Gestione Documentazione</a></li>
            <li><a class="dropdown-item" href="#">Gestione Anagrafiche</a></li>
            <li><a class="dropdown-item" href="#">Gestione Bandi</a></li>
            <li><a class="dropdown-item" href="#">Gestione Profilo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#}">Logout</a></li>
          </ul>
        </li>
        -->
        <!-- Dropdown Gestione Utente -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="gestioneUtenteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestione Utente
          </a>
          <ul class="dropdown-menu" aria-labelledby="gestioneUtenteDropdown">
            <li><a class="dropdown-item" href="#">Gestione Atleti</a></li>
            <li><a class="dropdown-item" href="#">Servizi ASD</a></li>
            <li><a class="dropdown-item" href="#">Gestione Profilo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#}">Logout</a></li>
          </ul>
        </li>
        -->

        <!-- Dropdown Admin -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profiloDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profiloDropdown">
            <li><a class="dropdown-item" href="#">Gestione Operatori</a></li>
            <li><a class="dropdown-item" href="#">Gestione Utenti</a></li>
            <li><a class="dropdown-item" href="#">Gestione Profilo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#}">Logout</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>