{% extends 'base.html' %}

{% block title %}{{block.super}} - Lista Prodotti{% endblock %}

{% block content %}

<html>
    <head>
        <title>Lista Prodotti</title>
    </head>
    <body>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.description }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.description }}</h5>
                            <p class="card-text">Prezzo: € {{ product.price | floatformat:2 }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{% url 'products:products-detail' product.pk %}">
                            <!-- Modal Button Optionally -->
                            <button type="button" class="btn btn-primary">
                            Vai al Prodotto
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <li>Nessun prodotto disponibile.</li>
            {% endfor %}
        </div>
    </body>
</html>

{% endblock %}
